<form>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input class="input amount" type="number" placeholder="Amount">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="input description" type="text" placeholder="Description">
        </p>
      </div>
      <div class="field is-narrow">
        <button class="button is-primary">Add</button>
      </div>
    </div>
  </div>
</form>